    <div class="ibm-columns">
        {{#each titles}}

            <div class="ibm-col-6-2">
                <div class="hrule" ></div>
                <div class="step"></div>
                <p>{{this}}</p>
            </div>
        {{/each}}
    </div>



