    <meta charset="UTF-8">
    <title>IBM: MRS</title>
    <link rel="icon" href="//www.ibm.com/favicon.ico">
    <link rel="canonical" href="http://www.ibm.com/______">
    <meta name="dcterms.date" content="YYYY-MM-DD">
    <meta name="dcterms.rights" content="© Copyright IBM Corp. 2015">
    <meta name="description" content="______">
    <meta name="geo.country" content="US">
    <meta name="keywords" content="______">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    digitalData = {
        page: {
            category: {
                primaryCategory: "SB03"
            },
            pageInfo: {
                effectiveDate: "2014-11-19",
                expiryDate: "2017-11-19",
                language: "en-US",
                publishDate: "2014-11-19",
                publisher: "IBM Corporation",
                version: "v18",
                ibm: {
                    contentDelivery: "ECM/Filegen",
                    contentProducer: "ECM/IConS Adopter ## - #synkey# - 11/19/2014 05:14:00 PM",
                    country: "US",
                    industry: "______",
                    owner: "Marketing Systems Support/Austin/IBM",
                    owningPortal: "______",
                    siteID: "______",
                    subject: "______",
                    type: "CT###"
                },
                "nc": {
                    "id": {
                        "form": "registerform",
                        "email": "Q_TEXTBOX_-8",
                        "privacyDiv": "privacyid",
                        "country": "Q_DROPDOWN_-16"
                    },
                    "questionType": "AllMedia",
                    "questionChoice": "",
                    "pageDesc": "Request IBM Cloud Security Enforcer Demo",
                    "offerCode": "",
                    "dcSubject": "IM520",
                    "granular": "off",
                    "footer": "off",
                    "preferenceareas": "SVS20GBS,IC957GBS",
                    "trial": "http://www.yahoo.com",
                    "Submit": "true",
                    "SaveToGECS": "true"
                }
            }
        }
    };
    </script>
    <script src="//1.www.s81c.com/common/stats/ida_stats.js"></script>
    <link href="//1.www.s81c.com/common/v18/css/www.css" rel="stylesheet">
    <script src="//1.www.s81c.com/common/v18/js/www.js"></script>
    <link href="//1.www.s81c.com/common/v18/css/forms.css" rel="stylesheet">
    <script src="//1.www.s81c.com/common/v18/js/forms.js"></script>
    <script>
        IBMCore.common.util.config.set({
        masthead: {
            type: "alternate"
        },
        sbs: {
            enabled: false
        },
        footer: {
            type: "alternate"
        }
    });
    </script>
    <!-- build:css assets/css/app.min.css -->
    <link href="./assets/css/main.css" rel="stylesheet" type="text/css" />
    <!-- endbuild -->