                        <!-- MASTHEAD_BEGIN -->
        <header role="banner">
            <div class="ibm-sitenav-menu-container">
              
                    <div class="ibm-sitenav-menu-name">
                        <div id="ibm-home"><a href="./">IBM®</a></div>
                        <p class="tagline"><a href="./"><span class="ibm-bold">MRS</span> Pathfinder</a></p>
                    </div>
                    <div class="ibm-sitenav-menu-list">
                        <ul role="menubar">
                            <li role="presentation" >
                                <a role="menuitem" href="#" data-id="0" data-tab="my-forms">Forms</a>
                            </li>
                            <li role="presentation" >
                                <a role="menuitem" href="#" data-id="1" data-tab="best-practices">Best Practices</a>
                            </li>
                            <li role="presentation" >
                                <a role="menuitem" href="https://w3-connections.ibm.com/wikis/home?lang=en-us#!/wiki/Wcf9828da45b6_425a_88f4_9ccce3351761/page/MRS%20Pathfinder" data-id="2" data-tab="community" target="_blank">Community</a>
                            </li>
                            <li role="presentation" >
                                <a role="menuitem" href="#" data-id="3" data-tab="faq">FAQs</a>
                            </li>
                            <li role="presentation" class="active">
                                <a role="menuitem" href="#" data-id="4" data-tab="pages" class="fa fa-wrench"></a>
                            </li>
                        </ul>
                    </div>
      
            </div>
            </header>
            <!-- MASTHEAD_END -->

